<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="performanceMonitorConfig" type="Company.Common.Diagnostics.Configuration.PerformanceMonitorConfig, Company.Common" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Company.Common" publicKeyToken="a045ac8bc8bd36cc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<!--
  <performanceMonitorConfig>
    <categories resetCategories="false">
      <add name="Product" enabled="false">
        <performanceCounter>
          <add name="RoomBaseChargeCalculation # operations per sec" type="RateOfCountsPerSecond32" enabled="false" />
        </performanceCounter>
      </add>
    </categories>
  </performanceMonitorConfig>
--></configuration>